body {
  background-color: lightskyblue;
  color: azure;
  font-size: 1.1em;
}

h1 {
  color: ghostwhite;
  margin-left: 2em;
}

h3 {
  margin-left: 4em;
}

#price-feed {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}